<div class="aqb-spells">
  <div class="aqb-spells-top">
    <p class="aqb-spells-slots">{{spellSlotsSummary}}</p>
  </div>

  {{#if buttonsDisabled}}

    <div class="aqb-spells-content">
      <p>未绑定角色。请先选择一个你拥有的 Token。</p>
    </div>
  {{else}}
    <div class="aqb-spells-content">
      {{#if hasSpellSections}}
        {{#each spellSections}}
          <section class="aqb-section aqb-spell-section">
            <h1>{{title}}</h1>
            <div class="aqb-spell-list">
              {{#each spells}}
                {{> "modules/alioths-quickdraw-bar/templates/partials/components/item-button.hbs" roll="spell" key=id icon=icon label=name infoIcon=prepIcon title=prepTitle disabled=disabled favorited=favorited}}
              {{/each}}
            </div>
          </section>
        {{/each}}
      {{else}}
        <p>该角色没有可用的法术。</p>
      {{/if}}
    </div>
  {{/if}}
</div>
