<div class="aqb-items">
  {{#if buttonsDisabled}}
    <div class="aqb-items-content">
      <p>未绑定角色。请先选择一个你拥有的 Token。</p>
    </div>
  {{else}}
    <div class="aqb-items-content">
      {{#if hasItemSections}}
        {{#each itemSections}}
          <section class="aqb-section aqb-item-section">
            <h1>{{title}}</h1>
            <div class="aqb-item-list">
              {{#each items}}
                {{> "modules/alioths-quickdraw-bar/templates/partials/components/item-button.hbs" roll="item" key=id icon=icon label=name info=usesText disabled=disabled favorited=favorited}}
              {{/each}}
            </div>
          </section>
        {{/each}}
      {{else}}
        <p>该角色没有可用的物品。</p>
      {{/if}}
    </div>
  {{/if}}
</div>
